<% provide(:title, "Tower Brick Lightning") %>
<% if !logged_in? %>
	<div class = "center jumbotron">
		<h1>Tower Brick Lightning</h1>
		<p>
			An exciting tower building confusion game coming soon to a browser near you!
		</p>

		<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
	</div>
<% else %>
	<h1><%= current_user.name %></h1>
	<div id = "information">
		<div id = "player_status">
			Actions: <%= current_user.actions %>
		</div>
		<div id = "siderbar">
			<div id = "global_stats" class = "box">
				Total Clay Shipments: <%= @clays %></br>
				Total Brick Shipments: <%= @bricks %></br>
				Total Tower Levels: <%= @towers %></br>
			</div>
			<div id = "links" class = "box">
				<%= link_to "Mining", new_clay_shipment_path %><br/>
				<%= link_to "Brick Baking", '#' %><br/>
				<%= link_to "Tower Build", '#' %><br/>
				<%= link_to "The Tower", '#' %><br/>
				<%= link_to "Profile", current_user %><br/>
				<%= link_to "Settings", edit_user_path(current_user) %><br/>
				<% if current_user.admin %>
					<%= link_to "Admin", '/admin' %>
				<% end %>
			</div>
		</div>
	</div>
	<div id = "news_feed">
		<h3>Updates</h3>
		<ul>
			<% current_user.news_items.order(created_at: :desc).each do |news| %>
				<li class = "<%= news.msg_type %>"><%= news.created_at.strftime("%_m/%-d, %l:%M %p")%>: <%= news.message.html_safe %></li>
			<% end %>
		</ul>
	</div>
<% end %>