<% provide(:title, @user.name) %>
<div class = "row">
	<aside class="col-md-4">
		<section class="user_info">
			<h1>
				<%= @user.name %>
			</h1>
			Gender: <%= @user.gender %><br/>
			The gods have cursed me with <%= @user.curse %>
		</section>
	</aside>
</div>
