<p id = 'message'>
	Write your message here:
</p>
<p id = 'text_area' >

</p>

<%= form_for(:shipment, url: url) do |f| %>
	<%= f.label :message %>
	<%= f.hidden_field :message, :value => "" %>
	<%= f.hidden_field :order, :value => "" %>

	<%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>

<div id = "keyboard">
	<%= render partial: 'shared/glyph_button', collection: glyphs.order(:meaning), as: :glyph %>
</div>