<% provide(:title, "Brick Making") %>

<div id = "craft">
	<div id = "canvas"></div>
</div>

<div id = "panel">
	<div id = "alerts">Please make some bricks</div>
	<br/>
	<div id = "shipment">
		<b>About Your Clay</b>
		<ol>
		<% @clays.each do |clay| %>
			<li>
				<% clay.message.split(" ").each do |glyph| %>
					<%= render partial: 'shared/glyph_read', locals: {glyph: @glyphs.find(glyph)} %>
				<% end %>
				- <%= clay.user.name %>
			</li>
		<% end %>
		</ol>
	</div>
</div>