@import "bootstrap-sprockets";
@import "bootstrap";

/* Variables */
$gray-medium-light: #eaeaea;

/* mixins */
@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* brick making */
#craft{
	/*width: 100%;*/
	float: left;
}

#panel{
	float: right;
	text-align: left;
	width: 350px;
}

/* foot-er */
footer{
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $gray-medium-light;
	color: $gray-light;
	a{
		color: $gray;
		&:hover{
			color: $gray-darker;
		}
	}
	small{
		float: left;
	}
	ul{
		float: right;
		list-style: none;
		li{
			float: left;
			margin-left: 15px;
		}
	}
	clear: both;
}

/* forms */
input, textarea, select .uneditable-input{
	border: 1px, solid #bbb;
	width: 80%;
	margin-bottom: 15px;
	@include box_sizing;
}

input{
	height: auto !important;
	// What does the !important mean? If I'm gonna use sass I'm gonna have to learn more about it
}

#error_explanation{
	color: red;
	ul {
		color: red;
		margin: 0 0 30px 0;
	}
}

.field_with_errors {
	@extend .has-error;
	.form-control {
		color: $state-danger-text;
	}
}

.checkbox{
	margin-top: -10px;
	margin-bottom: 10px;
	span {
		margin-left: 20px;
		font-weight: normal;
	}
}

#session_remember_me{
	width: auto;
	margin-left: 0;
}

/* Front Page */
.box{
	border-style: solid;
	border-width: 1px;
	margin: 10px;
	width: 20%;
}

#player_status{
	width: 70%;
}

#information{
	// height: 100px
}

#sidebar{
	float: right;
}

.news{
	font-size: 120%;
}

.error_report{
	color: red;
}

/* glyphs */
.glyph{
	height: 90px;
    width: 90px;
    margin: 1px;
    display: inline-block;
    background-color: #F38630;
    border-radius: 5px;
    text-align: center;
    font-size: 50%;
    word-wrap: break-word;
}

.glyph_image{

}

/* header */
#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	&:hover {
		color: white;
		text-decoration: none;
 	}
}

/* mining */
.blank {
    background-color: #FFFFFF;
}

.red {
	background-color: #B20000;
}

.brown {
	background-color: #8B4513;
}

.black {
	background-color: #363636;
}

.grid{
	border-style: solid;
}

.grid_selected{
	border-style: dashed;
}

.clay{
    height: 20px;
    width: 20px;
    margin: 2px;
    display: inline-block;
    border-radius: 0px;
    text-align: center;
}

/* misc */
.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

/* sidebar */
aside{
	section.user_info{
		margin-top: 20px
	}
	section {
		padding: 10px 0;
		margin-top: 20px;
		&:first-child{
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1{
			font-size: 1.4em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0px;
		}
	}
}

/* typography */
h1, h2, h3, h4, h5, h6{
	line-height: 1;
}

h1{
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2{
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $gray-light;
}

p{
	font-size: 1.1em;
	line-height: 1.7em;
}


/* universal */
body{
	padding-top: 60px;
}

section{
	overflow: auto;
}

textarea{
	resize: vertical;
}

.center{
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

/* Users */
.users{
	list-style: none;
	margin: 0;
	li{
		overflow: auto;
		padding: 10px 0;
		border-bottom: 1px solid $gray-lighter;
	}
}