// console.log("Editing mine id: <%= @mine.id %>");
// console.log("Editing clay shipment id: <%= @shipment.id %>");

<% @shipment.clay.each_with_index do |color, i| %>
	setGrid(<%= i %>, getColor(<%= color %>));
<% end %>

$("#alert").text("<%= @update %>");

function setGrid(i, color){
	if(i < <%= Rails.configuration.x.pack_total %>){
		$("#grid"+ i ).removeClass("blank red brown black").addClass(color);
	}else{
		console.log("You tried to add too many clays");
	}
}

function getColor(number){
	switch(number){
		case <%= Rails.configuration.x.red %>:
			return "red";
			break;
		case <%= Rails.configuration.x.brown %>:
			return "brown";
			break;
		case <%= Rails.configuration.x.black %>:
			return "black"
			break
		default:
			return "blank";
	}
}