<footer class ="footer">
	<small>
		Tower Brick Lightning is made by <a href="http://www.thejhyde.zone/">J. Hyde</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", 	about_path %></li>
			<li><%= link_to "Report Problems", report_path %></li>
		</ul>
	</nav>
</footer>