<header class = "navbar navbar-fixed-top navbar-inverse">
	<div class = "container">
		<%= link_to "TOWER BRICK LIGHTNING", root_path, id: "logo" %>
		<nav>
			<ul class = "nav navbar-nav navbar-right">
				<li><%= link_to "Home", 	root_path %></li>
				<% if logged_in? %>
					<li><%= link_to "Mine", new_clay_shipment_path %></li>
					<li><%= link_to "Bake", '#' %></li>
					<li><%= link_to "Build", '#' %></li>
					<li><%= link_to "Tower", '#' %></li>
					<li><%= link_to "Log Out", logout_path, method: "delete" %></li>
				<% else %>
					<li><%= link_to "About", 	about_path %></li>
					<li><%= link_to "Log in", 	login_path %></li>
				<% end %>
			</ul>
		</nav>
	</div>
</header>