<!DOCTYPE html>
<html>
	<head>
	  <title><%= yield(:title) %></title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  <%= render 'layouts/shim' %>
	</head>
	<body class = "<%= controller_name%> <%= action_name %>">
		<%= render 'layouts/header' %>
		<div class = "content">
			<%= render 'layouts/flash' %>
			<%= yield %>
		</div>
		<%= render 'layouts/footer' %>
		<%= debug(params) if Rails.env.development? %>
		<%#= session.inspect if Rails.env.development? %>
	</body>
</html>
